/*fonts*/
@font-face {

    font-family: Roboto-Black;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
    font-style: normal;
}
@font-face{
    font-family: Roboto-BlackItalic;
    src: url(../fonts/Roboto/Roboto-BlackItalic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: Roboto-BoltItalic;
    src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
    font-style:italic ;
    font-weight: bold;
}
@font-face {
    font-family: Roboto-Italic;
    src: url(../fonts/Roboto/Roboto-Italic.ttf);
    font-style:italic ;
    font-weight: normal;
}
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
    font-style:normal ;
    font-weight:100 ;
}
@font-face {
    font-family: Roboto-LightItalic;
    src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
    font-style:italic ;
    font-weight:100 ;
}
@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-style:normal ;
    font-weight:500 ;
}
@font-face {
    font-family: Roboto-MediumItalic;
    src: url(../fonts/Roboto/Roboto-MediumItalic.ttf);
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-style:normal ;
    font-weight: 400;
}
@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
    font-style: normal;
    font-weight:100 ;
}
@font-face {
    font-family: Roboto-ThinItalic;
    src: url(../fonts/Roboto/Roboto-ThinItalic.ttf);
    font-style:italic ;
    font-weight:100 ;
}
/*test of fonts*/
.robBlack{
    font-family: Roboto-Black, serif;
}
.robBlIt{
    font-family: Roboto-Italic, serif;
}
.robThin{
    font-family: Roboto-ThinItalic, serif;
}
/*end test fonts*/
body{
    padding: 0;
    font-size: 16px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    }
a{
    text-decoration: none;
}
ul,li{
    margin: 0;
    padding: 0;
}
nav{
    position: relative;
    height: 50px;
}
nav img{
    max-height: 100%;
    float: left;
}
nav ul{
   list-style: none;
}

nav ul li{

    font-size: 20px;



}
nav li a{
    color: black;
}
.firstLessonImg{
    width: 100%;
}
footer li{
    margin: 0 1em
}
footer nav{
    text-align: center;
}
footer nav ul{
    position: relative;
}
img{
    max-width: 100%;
}
.main div {
 display: flex;
}
.main h3 {
   min-width: 15%;
    text-align: center;
    font-weight: bold;
}
table{
    border-spacing:0;
    width: 100%;

}

th,td{
    border: 1px solid black;
}
.firstColum{
    width: 200px;
    text-align: center;
}
.zero{
    background: green;
    text-align: center;
}
.grayBag{
    background: gray;
}
.secondColum:not(th){
    background: #d2cdcd;
}
th{
    background: #454545;
    color: #efecec;
}
.mtDoc tr:nth-child(2n) .secondColum{
    background: #ffffff;
}


.circle .elem{
    background: aqua;
    height: 55px;
    width: 55px;
    position: absolute;
    display: none;
    transition: 500ms ease-in-out;
}
.circle:hover .elem{
    display: block;
}
.circle span{
    margin-left: 65px;
    line-height: 55px;
    width: 0;
    overflow: hidden;
    display: block;
    transition: 500ms ease-in-out;
}
.circle .elem:hover span{
   width: calc(100% + 65px);

}

.circle{
    width: 115px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: -79px;
    background: aqua;
}
.circle div:nth-child(1){
    background: url("../images/social.png");
    background-position: -4px -2px;
    transform:  rotate(300deg) translate(200px) rotate(calc(-1 * 300deg));

}
.circle div:nth-child(2){
    background: url("../images/social.png");
    background-position: -59px -2px;
    transform:  rotate(330deg) translate(200px) rotate(calc(-1 * 330deg));

}
.circle div:nth-child(3){
    background: url("../images/social.png");
    background-position: -4px -62px;
    transform:  rotate(0deg) translate(200px) rotate(calc(-1 * 0deg));

}
.circle div:nth-child(4){
    background: url("../images/social.png");
    background-position: -59px -62px;
    transform:  rotate(30deg) translate(200px) rotate(calc(-1 * 30deg));
}
.circle div:nth-child(5){
    background: url("../images/social.png");
    background-position: -116px -62px;
    transform:  rotate(60deg) translate(200px) rotate(calc(-1 * 60deg));
}


/*nav{*/
/*    display: none;*/
/*}*/

